.form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

/* .label {
  margin-bottom: 10px;
}

.name {
  margin-bottom: 10px;
}

.input {
  border-radius: 10px;
} */

/* .button {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #000000;
} */

.button:hover,
.button:focus {
  background-color: #18c471;
}