{{#each this}}

  <ul class='table__list table__list-statistic'>
    <li class='table__item'>{{category}}</li>
    <li class='table__item'>{{active}}</li>
    <li class='table__item'>{{archived}} </li>
  </ul>

{{/each}}