body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(255, 255, 255);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.section {
    margin-top: 20px;
    /* border: 1px orange solid; */
}

.container {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Table */

.topic__list {
    width: auto;
    display: grid;

    text-align: center;

    background-color: grey;
    border-radius: 5px;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.topic__item {
    margin-left: 10px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: 600;
}


.table__list {
    display: grid;
    margin-top: 10px;
    text-align: center;

    background-color: #e8eaf6;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table__item {
    font-size: 14px;
    color: #81848d;

}

.table__item:first-child {
    color: black;
}

/* Notes */
.topic__list--notes {
    grid-template-columns: repeat(6, 1fr);
}

.table__list--notes {
    grid-template-columns: repeat(6, 1fr);
}

.table__ctrl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Statistic */
.topic__list-statistic {
    grid-template-columns: repeat(3, 1fr);
}

.table__list-statistic {
    grid-template-columns: repeat(3, 1fr);
}

/* Button */
.btn {
    border-radius: 5px;
    width: 60px;
    height: 50px;
}

.btn--notes {
    margin-top: 20px;
    margin-left: auto;
}

.btn--add-note,
.btn--change {
    width: auto;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.btn--modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.btn--note-ctrl {
    width: 40px;
    height: 20px;


}

/* Modal */




.vision-mode {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.btn--vision-mode {
    width: 100px;
    height: 40px;
}

.hidden {
    display: none;
}